[user]
	email = jeferson.belmiro@gmail.com
	name = Jeferson Belmiro
[mergetool]
    keepBackup = false
[merge]
	tool = vimdiff2
[alias]
	lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    pushup = "!git push origin $(git symbolic-ref --short HEAD)"
[push]
	default = simple
# [mergetool "vimdiff3"]
# 	cmd = cp \"$LOCAL\" \"$MERGED\" && vim -f -d \"$MERGED\" \"$REMOTE\"
[core]
	pager = less -r
	fileMode = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
[pull]
	rebase = false
